.bar {
  display: flex;
  flex-direction: row;
  bottom: 0;
  top: auto;
  padding: 10px 40px;
  background: #363333;
  align-items: center;
  gap: 20px;
}

.modal {
  background: white;
  position: absolute;
  margin: auto auto;
  padding: 20px 40px;
  transform: translate(-50%);
  top: 25%;
  left: 50%;
}


@media only screen and (max-width: 930px) {
  .bar {
    flex-wrap: wrap;
    gap: 10px !important;
    padding: 10px !important;
  }

  .toolbar {
    padding: 0 !important;
    margin: 4px 6px !important;
    gap: 6px !important;

    & > * {
      font-size: 12px !important;
      text-transform: unset !important;
      padding: 0 !important;
    }
  }
}
