.container {
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.drawer {
  max-width: 50%;
}

.imgsContainer {
  display: flex;
  gap: 10px;

  & > * {
    font-size: 14px;
    display: flex;
    flex-direction: column;

    .delBut {
      position: absolute;
      place-self: flex-end;
      color: #bb4a4a !important;
    }

    .main {
      font-size: 12px;
      backdrop-filter: blur(2px);
      background: rgba(199, 235, 241, 0.71);
      border-radius: 15px;
      place-self: flex-start;
      margin: -30px 5px 0;
      padding: 4px 10px;
    }

    img {
      height: 100px;
    }
  }
}

.fields {
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 50px;
  overflow-y: scroll;

  & > * {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }
}

.header {
  background: rgb(47, 140, 203);
  color: white !important;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
