.bar {
  display: flex;
  flex-direction: row;
  bottom: 0;
  top: auto;
  padding: 10px 40px;
  background: #363333;
  align-items: center;
  gap: 20px
}
.modal{
  background: white;
  position: absolute;
  margin: auto auto;
  padding: 20px 40px;
  transform: translate(-50%);
  top: 25%;
  left: 50%;
}
