.list {
  a {
  }
}

.button {
  position: absolute !important;
  left: 0;
  top: 0;
  background: rgba(64, 64, 64, 0.56);
  border-radius: 5%;
  padding: 6px 10px;

  & > * {
    color: white;
  }
}

.divider {
  background: white;
}
