
.summary{
  margin-top: 20px;
  background: #fcf4db;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: black;
  font-weight: 350;

  &Title{
    font-weight: 400;
  }
}

.details {
  display: flex;
  flex-direction: column;

  &Title {
    font-weight: 350;
  }
}

.chip {
  background: #dcf5ee;
  padding: 4px;
  border-radius: 4px;
}

.bar {
  display: flex;
  flex-direction: row;
  bottom: 0;
  top: auto;
  padding: 10px 40px;
  background: #363333;
  align-items: center;
  gap: 20px;
}


.cardButton {
  color: black;
  background: rgba(206, 206, 206, 0.3);
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 7px;
  width: max-content;
  font-weight: 350;
}

.dateArrival {
  font-weight: 450;
}

.entityName {
  color: #737374;
}

.id {
  color: #737374;
}

.arrow {
  color: #737374;
}

.modal {
  background: white;
  position: absolute;
  margin: auto auto;
  padding: 20px 40px;
  transform: translate(-50%);
  top: 25%;
  left: 50%;
}

.notes {
  background: beige;
  padding: 4px;
  border-radius: 4px;
}

.helperText {
  color: #737374;
}

.cardHeader {
  letter-spacing: 0.25px;
  cursor: pointer;
  width: 100%;

  .name {
    font-weight: 400;
  }

  .code {
    margin-top: 8px;
    color: #737374;
  }

  .price {
    margin-top: 10px;

    & > * + * {
      margin-top: 8px;
    }
  }
}


.amount {
  font-weight: 400;
  color: #127f97;
}

.addStock {
  color: #51aa00;
}

.removeStock {
  color: #d40040;
}

@media only screen and (max-width: 930px) {
  .bar {
    flex-wrap: wrap;
    gap: 10px !important;
    padding: 10px !important;
  }

  .toolbar {
    padding: 0 !important;
    margin: 4px 6px !important;
    gap: 6px !important;

    & > * {
      font-size: 12px !important;
      text-transform: unset !important;
      padding: 0 !important;
    }
  }
}

