.container {
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 1400px;
}
.dateArrival {
  color: #0773b3;
}

.prices {
  font-weight: 350;
  margin: 20px 0;

  & > * + * {
    margin-top: 8px;
  }
}

.id {
  font-weight: 300;
  color: #737374;
}

.headerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .buttons {
    display: flex;
    gap: 10px;

    .button{
      background: #5b6e82;
      color: white;
    }

  }
}

.helperText{
  color: #737374;
}

.name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline  !important;

  a:hover {
    color: #165c84 !important;
  }
}

.code {
  font-size: 16px;
  font-weight: 350;
  margin: 10px 0 20px;
  color: black;

  .title{
    color: #737374;
    font-weight: 400;
  }
}

.notes{
  background: beige;
  padding: 4px;
  border-radius: 4px;
}

@mixin chipCount {
  color: white;
  width: max-content;
  font-weight: 350;
  padding: 2px 8px;
  border-radius: 10px;
}

.fieldName {
  background: rgba(13, 96, 10, 0.38);
  @include chipCount;

  &All{
    @include chipCount;
    background: rgba(131, 185, 187, 0.69);
  }
}

.fields {
  padding: 6px 14px;
  overflow-y: scroll;
  height: 100%;
  font-weight: 350;
}

.header {
  background: rgb(47, 140, 203);
  color: white !important;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

