.bar {
  display: flex !important;
  flex-direction: row !important;
  bottom: 0 !important;
  top: auto !important;
  padding: 10px 40px;
  background: #363333 !important;
  align-items: center !important;
  gap: 20px !important
}
.modal{
  background: white;
  position: absolute;
  margin: auto auto;
  padding: 20px;
  transform: translate(-50%);
  top: 50%;
  left: 50%;
}
