.container {
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.drawer {
  max-width: 50%;
}

.imgsContainer {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 20px;

  & > * {
    font-size: 14px;
    display: flex;
    flex-direction: column;

    .imgBlock {
      overflow: hidden;
      height: 120px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }

    .delBut {
      position: absolute;
      place-self: flex-end;
      color: #bb4a4a !important;
    }

    .buttmain {
      font-size: 14px !important;
      padding: 2px 0 !important;
    }

    .main {
      backdrop-filter: blur(2px);
      background: rgba(199, 235, 241, 0.71);
      border-radius: 15px;
      place-self: flex-start;
      margin: -30px 5px 0;
      padding: 4px 10px;
    }

    img {
      height: 100%;
    }
  }
}

.fields {
  padding: 20px 20px;
  overflow-y: scroll;

  .nameGroup{
    color: #6f6e6e;
    font-weight: 400;
    margin: 20px 0;
    background: #e0faff;
    padding: 5px 10px;
  }
  .row {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 450px));
    gap: 20px 50px;

  }
}

.header {
  background: rgb(47, 140, 203);
  color: white !important;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 930px) {

  .imgsContainer {
    grid-template-columns: repeat(3, minmax(70px, 100px));
  }
  .fields {
    display: flex;
    flex-direction: column;
  }
}
